:root {
  font-family: var(--font-body-family);
  line-height: 1.5;
  font-weight: var(--font-body-weight);
  font-size: var(--font-size-base);
  color: hsla(var(--color-accent) / 1);
  background-color: hsla(var(--color-surface) / 1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5rem;
  min-height: 100vh;
}

a {
  color: hsla(var(--color-accent) / 1);
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font-heading-family);
  font-size: 2.2rem;
  line-height: 1.1;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

ul {
  padding: 0;
  list-style: none;
}

svg {
  width: 1.6rem;
  height: 1.6rem;
}

button {
  border-radius: 10px;
  border: 1px solid #000;
  padding: 15px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--font-body-family);
  color: hsla(var(--color-primary) / 1);
  cursor: pointer;
  margin: 20px 0;
}

button:focus,
button:focus-visible {
  outline: 4px auto hsla(var(--color-primary) / 1);
}

img {
  max-width: 100%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden,
.hidden {
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

/* base-details-summary */
summary {
  cursor: pointer;
  list-style: none;
  position: relative;
}

summary .icon-caret {
  position: absolute;
  height: 0.6rem;
  right: -1.5rem;
  top: calc(50% - 0.2rem);
}

summary::-webkit-details-marker {
  display: none;
}

footer {
  opacity: 0.6;
}