.main-product-container.grid.product {
  gap: 15px;
  flex-direction: column;
}

.main-product-container ajax-cart-product-form {
  margin-top: 15px;
}

.main-product-container ajax-cart-product-form input {
  width: 70px;
}

.main-product-container .product-single__quantity {
  display: inline-block;
}

.main-product-container button[type="submit"] {
  display: block;
}

@media screen and (min-width: 990px) {
  .main-product-container.grid.product {
    flex-direction: row;
    gap: 40px;
  }

  .main-product-container.grid.product .product__media {
    width: 40%;
  }

  .main-product-container.grid.product .product__info-wrapper {
    flex: 1;
  }
}

@media screen and (min-width: 990px) {
  .main-product-container.grid.product .product__media {
    width: 45%;
  }

  .main-product-container.grid.product .product__info-wrapper {
    flex: 1;
  }
}