.product-card img {
  width: 100%;
}

.product-card .product-title {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.product-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-info button {
  margin: 0;
}

.product-card .select-variant-btn,
.product-card ajax-cart-product-form,
.product-card .select-variant-btn button,
.product-card ajax-cart-product-form button {
  width: 100%;
}